body,
div,
p,
ul,
ol,
dl,
dt,
dd,
li,
form,
input,
table,
th,
td,
img,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-family: "Microsoft Yahei";
}

p {
    line-height: 1.6
}

h1,
h2,
h3 {
    line-height: 2
}

em,
b,
i {
    font-style: normal;
}

img {
    border: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

/*清除浮动*/

.clearfix {
    *zoom: 1;
}

.clearfiix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

/* 属性重置 */

/* topline */

.topline {
    height: 3px;
    background-color: red;
}

.top {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
}

.toplogo {
    float: left;
    width: 110px;
    height: 80px;
    background: url(images/logo.png) no-repeat;
}

.nav {
    float: right;
    padding-right: 20px;
}

.nav a {
    height: 80px;
    padding: 0 20px;
    float: left;
    font-size: 16px;
    margin: 0 10px;
    line-height: 80px;

}

.nav a:hover {
    background-color: #cc0000;
    text-decoration: none;
    color: #fff;
}

/* bannerbox */

.bannerbox {
    height: 490px;
    position: relative;
    overflow: hidden;
}

.bannerbox h1 {
    margin: 0 auto;
    font-size: 20px;
    color: #fff;
    width: 100%;
    height: 40px;
    text-align: center;
    margin-top: -280px;
    font-weight: normal;
}

.hd {
    left: 0;
    right: 0;
    position: absolute;
    bottom: 18px;
    margin: 0 auto;
    text-align: center;
}

.hd li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 12px;
    background-color: #fff;
    cursor: pointer;
}

.hd li:hover {
    background-color: red;
}

/* service tab */

.service {
    width: 1000px;
    margin: 0 auto;
}

.toptit {
    margin-top: 30px;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    color: red;

}

.subtit {
    font-size: 30px;
    line-height: 1;
    margin-top: 17px;
    text-align: center;
    font-weight: bold;
}

.servicetab {
    margin-top: 35px;
    margin-left: -100px;

}

.servicetab a {
    float: left;
    width: 450px;
    margin-bottom: 23px;
    margin-left: 100px;
}

.tab-icon {
    width: 102px;
    height: 102px;
    float: left;
    margin-top: 32px;
    background: url(images/service-icon.png) no-repeat 1px -102px;

}

.tab-icon2 {
    width: 102px;
    height: 102px;
    float: left;
    margin-top: 32px;
    background: url(images/service-icon.png) no-repeat -100px -102px;

}

.tab-icon3 {
    width: 102px;
    height: 102px;
    float: left;
    margin-top: 32px;
    background: url(images/service-icon.png) no-repeat -201px -102px;
}

.tab-icon4 {
    height: 102px;
    width: 102px;
    float: left;
    margin-top: 32px;
    background: url(images/service-icon.png) no-repeat -300px -102px;
}

.servicetab a:hover .tab-icon {
    background: url(images/service-icon.png) no-repeat 1px -1px;
}

.servicetab a:hover .tab-icon2 {
    background: url(images/service-icon.png) no-repeat -99px -1px;
}

.servicetab a:hover .tab-icon3 {
    background: url(images/service-icon.png) no-repeat -200px -1px;
}

.servicetab a:hover .tab-icon4 {
    background: url(images/service-icon.png) no-repeat -299px -1px;
}

.servicetab a:hover {
    color: #cc0000;
}

.maininfo {
    padding-top: 50px;
    padding-left: 15px;
    line-height: 2;
    float: left;
    width: 320px;
}


.info-tit {
    font-size: 16px;
}

/* the service end */

/* project */

.project-wrap {
    width: 1000px;
    margin: 3px auto 0 auto;
    background-color: #f0f2f4;
    overflow: hidden;
}

.project-wrap h1 {
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    margin-top: 22px;
    line-height: 1;
}

.project-tab {
    margin: 30px auto 0 auto;
    text-align: center;
    color: #1c1c1c;
}

.project-tab a {
    width: 40px;
    font-size: 14px;
    line-height: 1;
}

.project-tab span {
    margin: 0 8px;
}

.bdleft {
    margin-left: -17px;
    float: left;
    margin-top: 42px;
}

.bdleft a {
    float: left;
    margin-left: 18px;
}

.imgtit {
    font-size: 14px;
    color: #1c1c1c;
    text-align: center;
    line-height: 1;
    margin-top: 17px;
    margin-bottom: 30px;
    
}
.img-btn{width: 66px;height: 21px;margin:  0 auto;overflow: hidden;}
.btn-left{width: 21px;height: 21px;float: left;background: url(images/scroll2.png) no-repeat;}
.btn-right{width: 21px;height: 21px;float: right;background: url(images/scroll2.png) 21px 0;}

    